body {
	/* background: linear-gradient(-45deg, #564d4a, #292526, #696262, #3b6d61);
	background-size: 1900% 1900%;
    animation: gradient 15s ease infinite;
    background-repeat: no-repeat;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	} */
}